---
---

body {
    background-color: #f7f7f7;
}

#content-holder {
    width: 30%;
    height: 20%;

    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  	
    margin: auto;
}

#logo {
    width: 100%;

    position: relative;
    top: 0;
}

#hero-text {
    float: right;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

@media screen and (max-width: 1000px) {
    #hero-text {
      font-size: 16px;
    }
  }

@media screen and (max-width: 800px) {
    #content-holder {
        width: 60%;
        height: 200px;
    }

    #hero-text {
      font-size: 14px;
    }
  }

@media screen and (max-width: 600px) {
    #hero-text {
      font-size: 12px;
    }
  }

@media screen and (max-width: 375px) {
    #hero-text {
      font-size: 10px;
    }
  }